* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.l-maskgroup {
  width: 100%;
  height: 100%;
  margin-top: -100px;
}
.l-email {
  padding: 10px 22px 10px 22px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid #ffffff26;
  outline: none;
  width: 100%;
}
.input-style {
  /* //  padding: 10px 22px 10px 22px; */
  border-radius: 10px !important;
  background-color: transparent;
  color: white !important;
  border: 1px solid #ffffff26;
  outline: none;
  width: 100%;
}
.l-signin {
  cursor: pointer;
  width: 100%;
  font-family: "Bai Jamjuree", sans-serif;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #ffffff;
  background: #0079ff;
  text-align: center;
  padding: 12px 0;
  border-radius: 10px;
  outline: none;
  border: none;
}
.l-forgotpassword {
  text-decoration: none;
  color: #ffffff;
}
.l-signup {
  text-decoration: none;
  color: orange;
}
.l-google {
  position: absolute;
  left: 20px;
}

.google-btn {
  font-size: 16px;
  position: relative;
  color: #ffffff;
  background: transparent;
  text-align: center;
  padding: 12px 0px;
  border-radius: 10px;
  border: 1px solid #ffffff26;
  font-weight: 300 !important;
  cursor: pointer;
}

.section {
  width: 55%;
  height: 100vh;
  overflow: hidden;
  /* background:linear-gradient(121deg,#2559cd 9%,#1c4cc8 80%,#0f38c1 41%) ; */
  /* background: rgb(61, 47, 255); */
  /* background: rgb(2, 0, 36);
  background-image: linear-gradient(
    34deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 34%,
    rgba(0, 78, 255, 1) 100%
  ); */
  position: relative;
}
.vector-bg {
  width: 100%;
  height: 100%;

  position: absolute;
  /* top: 0; */
  /* left: 0; */
  background-image: url("../../../../public/Group.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-left: 90px;

  z-index: 0;
}
.right {
  display: flex;
  /* // align-items: center; */
  justify-content: center;
  flex-direction: column;
  background-color: #131313;
  width: 45%;
  height: 100vh;
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
}

@media screen and (max-width: 600px) {
  .right {
    width: 100%;
    padding: 20px;
  }
  .section {
    width: 100%;
  }
  .main {
    flex-direction: column;
  }
  .vector-bg {
    padding-left: 10px;
  }
}

/* // @media screen and (max-width: 600px) {
//   .right {
//     width: 100%;
//     padding: 20px;
//   }
// } */
