.wp-invite-sub{
    cursor: pointer;
    color: #f7f7fc;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 900;
    background-color: #0079ff;
    /* // padding: 2px 15px; */
  padding: 10px 0px;
    text-align: center;
    line-height: 26.63px;
    width: 20%;
  }
  .wp-invite-sub-input{
    border: none!important;
    outline: none!important;
    /* border-radius: 10px; */
    background-color: transparent;
    color: white;
    font-size: 18px;
    /* border: 1px solid #ffffff26; */
    
    width: 80%;
  }